<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Patient portal | error </title>
  <link rel='stylesheet' href='/css/style.css'>
  <link rel='shortcut icon' type='image/png' href='/img/favicon.png'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700">
</head>
<body>
  <%- include("_header.ejs") %>
  <main class="main">
    <div class="error">
      <div class="error__title">
        <h2 class="heading-secondary heading-secondary--error">Uh oh! Something went wrong!</h2>
        <h2 class="error__emoji">😢 🤯</h2>
      </div>
      <div class="error__msg"><%= err %></div>
    </div>
  </main>
  <%- include("_footer") %>