<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Patient portal | signup</title>
  <link rel='stylesheet' href='/css/style.css'>
  <link rel='shortcut icon' type='image/png' href='/img/favicon.png'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700">
</head>
<body>
  <%- include("_header.ejs") %>
  <main class="main">
    <div class="login-form">
      <h2 class="heading-secondary ma-bt-lg">Create Account</h2>
      <form class="form" id="signform">
        <div class="form__group">
          <label class="form__label" for="name">Name</label>
          <input class="form__input" id="name" type="text" placeholder="john willson" name="name" required>
        </div>
        <div class="form__group">
          <label class="form__label" for="email">Email address</label>
          <input class="form__input" id="email" type="email" placeholder="you@example.com" name="email" required>
        </div>
        <div class="form__group">
          <label class="form__label" for="phone">Phone No</label>
          <input class="form__input" id="phone" type="tel" placeholder="you@example.com" name="phone" required>
        </div>
        <div class="form__group ma-bt-md">
          <label class="form__label" for="password">Password</label>
          <input class="form__input" id="password" type="password" placeholder="••••••••" name="password" required minlength="8">
        </div>
        <div class="form__group ma-bt-md">
          <label class="form__label" for="passwordConfirm">Confirm Password</label>
          <input class="form__input" id="passwordConfirm" type="password" placeholder="••••••••" name="passwordConfirm" required minlength="8">
        </div>
        <div class="form__group">
          <button type="submit" class="btn btn--green">Signup</button>
        </div>
        <div class="form__group">
          <a href="/login" class="redirect-a">Already a User? Log In</a>
        </div>
      </form>
    </div>

  </main>
  <%- include("_footer.ejs") %>
  <script src="/js/bundle.js"></script>
</body>
</html>
